body {
  &.with-backdrop {
    overflow: hidden; // Suppress scroll on body
    .view {
      filter: brightness(2) grayscale(20%) blur(5px);
      transition: filter 250ms;
    }
  }
}

.backdrop,
.backdrop__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin-top: $loader-height;
}

.backdrop {
  background: white;
  opacity: 0.5;
}
