.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 0.2rem 1rem;
  font-size: 80%;
  text-align: center;
  color: $gray-600;
  border-top: 1px solid $gray-200;
}
