.generator {
  overflow: hidden;
  .form-group label {
    width: 100%;
  }
  .help-text {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  .form-text.is-invalid,
  .icon--star {
    color: $primary;
  }
  .icon--check {
    color: $success;
  }
  &__thumb {
    width: 200px;
    margin-top: 10px;
    img {
      width: 100%;
    }
  }
}
