.navbar {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: $grid-gutter-width/2 0;
  margin: $loader-height 0 $grid-gutter-width 0;
  &__logo {
    img {
      float: right;
      width: 310px;
    }
  }
}
