.poster-placeholder,
.poster-thumb {
  width: 100%;
  border-radius: $border-radius;
  background: $gray-200;
  overflow: hidden;
  position: relative;
  &__thumb {
    margin: 5px;
    position: relative;
    overflow: hidden;
    img {
      border: 1px solid $border-color;
      width: 100%;
      min-height: 45px;
      background: white;
    }
  }
  &__buttons {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 35px;
    @include media-breakpoint-down(md) {
      width: 25px;
    }
  }
  &__button {
    @extend .btn;
    @extend .btn-outline-primary;
    background: white;
    width: 35px;
    height: 35px;
    padding: 5px 0;
    margin-bottom: 5px;
    .icon {
      width: 23px;
      height: 23px;
      bottom: auto;
      margin: 0;
    }
    @include media-breakpoint-down(md) {
      width: 25px;
      height: 25px;
      padding: 2px 0;
      .icon {
        width: 19px;
        height: 19px;
      }
    }
  }
  &__badges {
    position: absolute;
    bottom: 5px;
    left: 5px;
    line-height: 0;
  }
  &__badge {
    @extend .badge;
    @extend .badge-primary;
    margin-right: 5px;
  }
  &__title {
    padding: 0 10px 10px;
  }
}

.poster-placeholder {
  height: 70vw;
  @include media-breakpoint-up(sm) {
    height: 265px;
  }
  @include media-breakpoint-up(lg) {
    height: 326px;
  }
  @include media-breakpoint-up(xl) {
    height: 390px;
  }
}
