.select-spec {
  margin-top: 10vh;
  &__content {
    margin-top: 40px;
  }
  &__card {
    width: 220px;
    margin: 0 auto;
    position: relative;
  }
  &__counter {
    display: block;
    height: 40px;
    line-height: 35px;
  }
  .button {
    @extend .btn;
    @extend .btn-outline-primary;
    background: white;
    width: 35px;
    height: 35px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    .icon {
      width: 23px;
      height: 23px;
      bottom: auto;
      margin: 0;
    }
    &--left {
      left: 0
    }
    &--right {
      right: 0
    }
  }
}
